
.video_container {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transform: scale(0.1);
  transition: all 0.5s ease-in-out;
}
.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.video_container .close {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 700;
}
.video_container iframe {
  width: 1250px;
  height:700px;
  transition: all 0.5s;
}
@media (max-width: 950px) {
  .video_container iframe {
    width: 100%;
    height: 300px;
  }
}
