.footer_section {
  width: 100%;
  background-image: url("/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer_container {
  padding: 5rem 0;
}
.footer_container h1 {
  font-weight: 500;
  font-size: 3.8rem;
  line-height: 4rem;
  text-align: center;
  color: var(--light);
}
.footer_items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--light);
  padding-top: 3.6rem;
  padding-bottom: 5rem;
  gap: 4rem;
  flex-wrap: wrap;
}
.footer_item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.footer_item svg {
  font-size: 1.8rem;
  color: var(--secondary);
  margin-bottom: 0.6rem;
}
.footer_item h4 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.06em;
  margin: 1rem 0;
}
.footer_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--light);
}
.icon_box {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}
.icon_box > div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light);
  border-radius: 50%;
  font-size: 1.4rem;
}
.footer_bottom p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.03em;
}
.footer_bottom b {
  color: var(--secondary);
}
@media (max-width: 700px) {
  .footer_container h1 {
    font-size: 3rem;
    line-height: 3.2rem;
  }
  .footer_items {
    flex-direction: column;
    gap: 2rem;
  }
  .footer_bottom p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}
